body{
  text-align: center;
  margin: 0;
  padding: 10px ;
  font-family: "Trirong";
  font-size: 20px;
 background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
   overflow-x: hidden;
}


/* pricing */
.allcards{
  flex-wrap: wrap;
}

.pricing-card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px; 
  margin: 2%;
}

.pricing-card h3 {
  color: #333;
}

.pricing-card p {
  font-size: 20px;

}

.pricing-card ul {
  list-style-type: none;
  padding: 0;
}

.pricing-card ul li {
  margin-bottom: 5px;
  font-size: 16px;
}

.btn {
  display: inline-block;
  background-color: #6CADB2;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border-radius: 50px;
}
.pricing-card {
  width: 300px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
 

}

.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 
}

/* NOTE */
.note {
  background-color: #f0f0f0; /* Light grey background */
  border-left: 5px solid #3498db; /* Blue left border */
  padding: 10px; /* Padding around the content */
  margin-bottom: 20px; /* Margin to separate notes */
}

/* Style for the note text */
.note p {
  margin: 0; /* Remove default paragraph margin */
}
/* Calculator */

.calculator {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  
}

#display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #999;
  border-radius: 50px;

}

.buttons button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
}

/* button calculator */

#map {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
#map h2 {
  color: #333;
  margin-bottom: 20px;
}
#map a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}
#map a:hover {
  background-color: #0056b3;
}
nav{
  /* position: fixed;
  top: 0%; */
  background-color: rgb(255, 255, 255);   
  opacity: 80%;
  width: auto;
  overflow: hidden;
}

.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Style the list items (menu items) */

.nav u li{
  display: inline;/* Display items horizontally */
  position: fixed;

}

/* Style the links (menu items) */
.nav ul li{
  display:inline-block;
  padding: 10px 20px;
  text-decoration: none;
 color: #333;  /* text color */
}
.nav ul li a{
  color: #14253b;
  font-size: 16px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.5) ;
  transition: background-color 0.3s ease;
  
}
/*a, a:visited, a:hover, a:active {
  color: inherit;
  }*/

.nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.nav ul li{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color:#555;

}

#logo{
  margin-right: auto;
  width:70px;
  height: 60px;
}
.nav-container{
  list-style: none;
  display: flex;
}
a {
  color: #14253b;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  /*background: #14253b;*/
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
/*a:hover:after { 
  width: 100%; 
  left: 0; 
}*/
img{
  border-radius: 60%;
  width: 25%;
  height: 50%;
  display: inline-block;
  /*border:  6px solid rgb(0, 0, 0);*/

}

/* Main section */
h1{
  font-family: Trirong;
  font-weight: 600;
}

.main-section{
  letter-spacing: 0.10em;
}


/* About Section */
/* #about{
  background: rgb(248, 221, 146);
} */
/* .home-imgs{
  border-radius: 50%;
} */

/* ABOUT SECTION */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

strong {
  font-weight: bold;
}

.left-col{
  width: 55%;
  float: left;
  margin: 3%;
}

.sidebar{
  width: 25%;
  float: left;
  margin: 2%;
}

.clearfix{
  clear: both;
  height: 3%;
}

.Our-Story,
.mission-images,
.goal-images {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border: bisque;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: bisque;
}

img:hover {
  transform: scale(1.05);
}

/* Reviews Section */

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
} */
.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}



/* About info */
/* Team members section*/

/*.about-info{
  letter-spacing: 0.10em;
}
.container-members {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

   div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("./src/Images/Social\ Media\ manager.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("./src/Images/Stylist.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("./src/Images/Graphic\ Designer.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("./src/Images/Editor.jpg")
        no-repeat 50% / cover;
    }
  }
}*/



.column {
  
  width: 20%;
  margin-bottom: 16px;
  padding: 0 20px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 5%;
}

.container {
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  font-size: 12px;
}

.title {
  color: grey;
}

.tmbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #6CADB2;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/*.button:hover {
  background-color: #555;
}*/



/* Bookings form */
.bookings-form{
  border-radius: 50px;
  padding: 40px;
  width:350px; 
  height: 800px;
  text-align: center;
  margin: 0 auto;
}
  /* BOOKING PAGE */
 
 .container2 {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
 
h1 {
  text-align: center;
}
 
form {
  display: grid;
  grid-gap: 10px;
}
 
label {
  font-weight: bold;
}
 
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],

 textarea {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
} 
 
button {
  /* width: 100%; */
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
button:hover {
  background-color: #6e6e6e91;
}

/* Location */
.location-heading{
  padding: 2%;
}
/*Footer*/
footer{
  font-size: 10px;
}
input[type=subscribe-email]{
  margin: 0 auto;
  color: #ffffff;
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
/*  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
}

/*Form frames*/

.contact {
  border-radius: 50px;
 /*background-color: rgb(209, 209, 209);*/
 padding: 40px;
 width:450px; 
 height: 600px;
 text-align: center;
 margin: 0 auto;
 line-height: 100%;
}
 textarea {
  width: 360px;
  height: 211px;
  margin-left: auto;
    margin-right: auto;
}
 input[type= submit] {
  margin: 0 auto;
  color: #ffffff;
  background-color: #6CADB2;
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input[type= text], [type= number]{
  margin: 0 auto;
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


input.button:hover {
  background: #fff;
  color: #09C;
}

.loading-text{

  animation: typing 5s steps(20, end);
  overflow: hidden;
  display: inline-block;
  /* border-right: .15em solod black; */
  white-space: nowrap;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Trirong;
  font-weight: 600;
  line-height: 50px;
}
@keyframes typing{
  from{width: 0}
  to {width: 100%}
}
.subscribe button{
  text-align:center;
  width: 80px;
  height: 30px;
  background-color: #6CADB2;
}

.newsletter{
  input{
    text-align:center;
    width: 80px;
    height: 30px;
}
}
/* Services section */
table{
  display:inline;
}
th img{
  display: inline-block;
  border:  10px solid black;
}

/* Footer Section */
/* footer.footerletter{
  background: #09C;

} */
/* login page*/
:root {
  --primary: #000000;
  --primary-light: #22211F;
  --primary-disabled: #363435;
  --primary-lighter: #454344;
  --secondary: #1D1D1D;
  --text: #11181C;
  --text-gray: #687076;
  --text-placeholder: #8890A7;
  --border: #DFE3E6;
  --btn-bg: #EDEDED;
  --input-bg: #F1F2F3;
  --background: #F8F8FF;
  --error: #e5484d;
}

/* html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
  background: var(--background);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--primary-light);
  color: white;
}

.socials-row {
  display: flex;
}

.socials-row img {
  width: 1.5rem;
  height: 1.5rem;
}

.socials-row>a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 2.75rem;
  display: flex;
  gap: 0.75rem;
  color: var(--text);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text);
  padding: 0.5rem;
  border: 1px solid var(--border);
  transition: all .3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

.socials-row>a svg {
  color: var(--text)
}

.socials-row>a:hover {
  background-color: var(--btn-bg);
}

.form-welcome-row {
  margin-bottom: 1rem;
}

.form-welcome-row h1 {
  color: var(--text);
  font-size: 2rem;
  line-height: 2rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.form-welcome-row h2 {
  color: var(--text-gray);
  font-size: 1.10rem;
  font-weight: normal;
}

.divider {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  gap: 1rem;
  align-items: center;
}

.divider-line {
  width: 100%;
  height: 1px;
  background: var(--secondary);
  opacity: .2;
}

.form-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
  max-height: 200rem;
  height: 100%;
  width: 100%;
}

.form-side {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; */
  
}

.logo {
  height: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.my-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1.25rem;
  max-width: 26rem;
  width: 100%;
}

.my-form__button {
  background: var(--primary);
  border: 1px solid var(--primary-light);
  color: white;
  white-space: nowrap;
  display: grid;
  place-items: center;
  margin-top: 1.5rem;
  line-height: 2.75rem;
  outline: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
  transition: all .3s ease;
}

.my-form:invalid .my-form__button {
  pointer-events: none;
  background: var(--primary-disabled);
  border: 1px solid var(--primary-light);
}

.my-form__actions {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  gap: 1rem;
  margin-top: 0.5rem;
}

.my-form__actions a {
  color: var(--text);
}

.my-form__actions a:hover {
  color: var(--text-gray);
  text-decoration: underline;
}

.my-form__row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-field input {
  color: var(--secondary);
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--border);
  min-height: 3rem;
  letter-spacing: .03rem;
  outline: none;
  background: var(--input-bg);
  transition: .25s;
  border-radius: 0.5rem;
  text-indent: 1.25rem;
}

.text-field label {
  color: var(--text);
}

.text-field input:user-invalid {
  background: var(--white);
  color: var(--error);
  border: 1px solid var(--error);
}

.error-message {
  display: none;
}

.text-field input:user-invalid~.error-message {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  color: var(--error);
}

.text-field input:focus {
  border: 1px solid var(--text);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
}

/* aside */
.info-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  background: url('assets/background.jpg') repeat center center;
  background-position: cover;
  max-height: 90rem;
}

.info-side .blockquote-wrapper {
  gap: 1rem;
  position: relative;
  padding: 1rem;
  max-width: 25rem;
  background: white;
  border-radius: 1rem;
}

.info-side .blockquote-wrapper img {
  width: 100%;
  max-width: 100%;
  border-radius: 1rem;
}

.info-side .blockquote-wrapper blockquote {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.info-side .author {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.info-side .author img {
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
}

.info-side .author-name {
  font-weight: 600;
  color: var(--text);
}

@media (max-width: 720px) {
  .form-wrapper {
      grid-template-columns: 1fr;
  }

  .info-side {
      display: none;
  }
}

/* log-in button */

.login-button {
  /* background-color: #4CAF50;  */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


/*LANDING PAGE*/


@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


/*h2{
  font-family: 'playfair Display', serif;
  font-size: 190%;
  font-weight: 700;
  color: #2C2C2C;
  text-align: center;
   text-decoration: underline;
}

p{
  font-family: 'raleway', serif;
  color: #2C2C2C;
  font-size: 120%;
  line-height: 180%;
  text-align: justify;
  font-weight: 300;
}*/


.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
  background-size: cover;
  display: table;
  top: 0;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}



h1{
  font-family: 'playfair display', serif;
  font-size: 300%;
  font-weight: 700;
  color:#fff;
  text-align: center;
  padding: 2%;
  text-shadow: 0px 0px 200px #000;
}


.inner{
  max-width: 600px;
  margin: auto;
  font-size: 120%;
  line-height: 1.6;
  padding: 20px;
}

.content a{
  color:#ccc;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*------Start Nav-------*/



/*@media screen and (max-width:600px){
  #menu-icon{
    margin: 26px 0 0 26px;
  }
  
  nav ul{
    padding: 8px 0;
    left: 20px;
    top: 40px;
    width: 30%;
  }
  
  .inner{
    font-size: 100%;
  }
  
  .content h1{
    font-size: 250%;
  }
  
  p{
    font-size: 120%;
  }
  h2{
    font-size: 160%;
  }
  
  .left-col{
    width: 90%;
    padding: 0 2%;
  }
  
  .sidebar{
width: 96%;
    margin: 0;
  }
  
  img{
    padding: 2%;
  }
  .third{
    width: 96%;
   padding: 0;
    margin: auto;
  }
  
  .parallax{
    display: none;
  }
  
  .social i{
    font-size: 150%;
  }
  .contact p{
    position: relative;
   left: 5%;
  }
  
  #five{
   position: relative;
   left: 0;
  }
  
}*/