body{
  text-align: center;
  margin: 0;
  padding: 10px ;
  font-family: "Trirong";
  font-size: 20px;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}



nav{
  /* position: fixed;
  top: 0%; */
  background-color: rgb(255, 255, 255);   
  opacity: 60%;
  width: auto;
  overflow: hidden;
}

.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Style the list items (menu items) */

.nav u li{
  display: inline;/* Display items horizontally */
  position: fixed;

}

/* Style the links (menu items) */
.nav ul li{
  display:inline-block;
  padding: 10px 20px;
  text-decoration: none;
 color: #333;  /* text color */
}
.nav ul li a{
  color: #14253b;
  font-size: 16px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.5) ;
  transition: background-color 0.3s ease;
  
}
a, a:visited, a:hover, a:active {
  color: inherit;
  }

.nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.nav ul li{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color:#555;

}

#logo{
  margin-right: auto;
  width:70px;
  height: 60px;
}
.nav-container{
  list-style: none;
  display: flex;
}
a {
  color: #14253b;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #14253b;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
img{
  border-radius: 60%;
  width: 25%;
  height: 50%;
  display: inline-block;
  /*border:  6px solid rgb(0, 0, 0);*/

}

/* Main section */
h1{
  font-family: Trirong;
  font-weight: 600;
}

.main-section{
  letter-spacing: 0.10em;
}


/* About Section */
/* #about{
  background: rgb(248, 221, 146);
} */
/* .home-imgs{
  border-radius: 50%;
} */

/* Reviews section */
.carousel {
  margin-left: 15%;
  margin-right: 15%;
 
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 


}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 50%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: black;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* About info */
/* Team members section*/

/*.about-info{
  letter-spacing: 0.10em;
}
.container-members {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

   div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("./src/Images/Social\ Media\ manager.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("./src/Images/Stylist.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("./src/Images/Graphic\ Designer.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("./src/Images/Editor.jpg")
        no-repeat 50% / cover;
    }
  }
}*/



.column {
  
  width: 20%;
  margin-bottom: 16px;
  padding: 0 20px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
  font-size: 12px;
}

.title {
  color: grey;
}

.tmbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



/* Bookings form */
.bookings-form{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #cccccc, #EEEEEE 175px);
  border-radius: 50px;
  background-color: #d1d1d1;
  padding: 40px;
  width:350px; 
  height: 800px;
  text-align: center;
  margin: 0 auto;
}
  /* BOOKING PAGE */
 
 .container2 {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 
 
h1 {
  text-align: center;
}
 
form {
  display: grid;
  grid-gap: 10px;
}
 
label {
  font-weight: bold;
}
 
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],

 textarea {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
} 
 
button {
  /* width: 100%; */
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
button:hover {
  background-color: #6e6e6e91;
}


/*Footer*/
footer{
  font-size: 10px;
}

/*Form frames*/

.contact {
  background: -webkit-linear-gradient(bottom, #cac5c1, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #d4c2b1, #ece2d5 175px);
  background: linear-gradient(bottom, #cf9e8a, #e4c5ac 175px);
  border-radius: 50px;
 /* background-color: rgb(209, 209, 209);*/
 padding: 40px;
 width:450px; 
 height: 510px;
 text-align: center;
 margin: 0 auto;
 line-height: 100%;

 textarea {
  width: 360px;
  height: 211px;
  margin-left: auto;
    margin-right: auto;
}
 input {
  margin: 0 auto;
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

 /*button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}*/

input.button:hover {
  background: #fff;
  color: rgb(205, 208, 209);
}


.loading-text{

  animation: typing 5s steps(20, end);
  overflow: hidden;
  display: inline-block;
  /* border-right: .15em solod black; */
  white-space: nowrap;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Trirong;
  font-weight: 600;
  line-height: 50px;
}
@keyframes typing{
  from{width: 0}
  to {width: 100%}
}
.subscribe button{
  text-align:center;
  width: 80px;
  height: 30px;
}

.newsletter{
  input{
    text-align:center;
    width: 80px;
    height: 30px;
}
}
/* Services section */
table{
  display:inline;
}
th img{
  display: inline-block;
  border:  10px solid black;
}
}
/* Footer Section */
/* footer.footerletter{
  background: #09C;

} */